@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom scrollbar styling for scrollable divs */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(228, 228, 231, 0.8);
    border-radius: 9999px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 42, 0.8);
  }
}
